*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    font-family:Arial, Helvetica, sans-serif;
    overflow:hidden;
}

#intro{
    position:fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:22px;
    letter-spacing:4px;
    cursor:pointer;
    z-index:100;
    transition:0.5s;
}

.scene{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    transition:1s;
}

.envelope{
    width:340px;
    height:230px;
    position:relative;
}

.back{
    position:absolute;
    width:100%;
    height:100%;
    background:#111;
    border-radius:12px;
}

.front{
    position:absolute;
    bottom:0;
    width:100%;
    height:60%;
    background:#1b1b1b;
    clip-path:polygon(0 0,50% 65%,100% 0,100% 100%,0 100%);
}

.lid{
    position:absolute;
    width:100%;
    height:60%;
    background:#111;
    clip-path:polygon(0 0,100% 0,50% 80%);
    transform-origin:top;
    transition:1s;
    z-index:5;
}

.letter{
    position:absolute;
    left:50%;
    top:20px;
    transform:translateX(-50%);
    width:190px;
    transition:1.3s;
    z-index:2;
}

.letter img{
    width:100%;
    border-radius:12px;
}

.seal{
    position:absolute;
    left:50%;
    top:92px;
    transform:translateX(-50%);
    color:#d4af37;
    font-size:34px;
    z-index:6;
}

.open .lid{
    transform:rotateX(180deg);
}

.open .letter{
    transform:translateX(-50%) translateY(-330px) scale(2.3);
    z-index:20;
}
